
body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(80deg, #740a6b, #ca3b3b, #a80c8e); */
  /* background-size: 400% 400%; */
  overflow: hidden;
  /* animation: color 8s ease-in-out infinite;  */
  background-image: url('/src/images/background1.jpeg');
  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Helvetica;
  color: white;
  height: 100vh;
  width: 100vw;
  /* font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal; */

}





/* @keyframes color {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
