/* body{
    color: black;
    text-align: center;
} */
.auth-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.auth-form h1, .forgot-password h1 {
  font-weight: 100;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.auth-btns {
  margin-top: 10%;
  width: 50vw;
}

.signup, .login, .forgot-password {
  padding: 1%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  height: 100vh;
}

.forgot-pass {
  display: flex;
  justify-content: right;
  width: 50vw;
}

@media (max-width: 700px){
  body{
    height: 100vh;
  }
  .auth-form{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 30%;
  }
 
  .config-form{
    top: 25vh;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 217, 217, 0.20) inset !important;
    -webkit-text-fill-color: #000 !important;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image {
    animation: rotate 20s linear infinite; 
  }
  