.configurator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header{
  background-color: yellow;
  /* padding: 10px; */
  /* padding-top: 0.625em;
  padding-bottom: 0.5em; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 10;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

.header * {
  width: 200px;
  display: flex;
  justify-content: center;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  background-color: yellow;
}

.main-container {
  background-color: rgba(212, 212, 212, .05);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
}
