/* body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(36,110,177,1) 42%, rgba(2,0,36,1) 100%);
    color: #fff;
} */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(80deg,rgb(18, 83, 109),rgb(192, 47, 127));
  background-size: 400% 400%;
  animation: color 8s ease-in-out infinite; 
  color: #ffffff;
  overflow: hidden;
}




@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


