/* .selected-choice {
  background-color: green;
} */

.portal * {
  display: flex;
  align-items: center;
}

.answer-choices{
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .portal {
  display: flex;
  flex-direction: column;
} */

.header{
  background-color: rgba(212, 212, 212, .05);
  /* background-color: yellow; */
  /* padding: 10px; */
  /* padding-top: 0.625em;
  padding-bottom: 0.5em; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 10;
  height: 10vh;
}

.header * {
  width: 200px;
  display: flex;
  justify-content: center;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.link-ladder {
  /* width: 50vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
  position: relative
  /* background-color: white;
  opacity: 5%; */
}

.main-container * {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  /* margin: 10%; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* White color with 10% opacity */
  z-index: -1; /* Place the overlay behind the content */
}

.left, .right {
  /* width: 100px; */
  /* background-color: blue; */
  /* margin: 200px; */
  width: 20vw;
}

.quiz-container {
  /* background-color: orange; */
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10%; */
}

.question {
  height: 20%;
  width: 100%;
  font-size: 2em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0.3rem;
  /* background-color: blue; */
}

.choices {
  height: 80%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  padding-top: 0px;
  margin: 0px;
}

.true-false {
  height: 80%;
  background-color: yellow;
}

.link-ladder a {
  text-decoration: none;
  font-size: 4em;
  margin: 0.1em;
  /* padding: 0.1em; */
  /* border-radius: 1px; */
  color: white;
  cursor: pointer;
  opacity: 0.7;
}

.link-ladder a:hover {
  opacity: 1.0;
}