body{

    text-align: center;
}
form{
    margin: 4px;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}
@media (max-width: 700px){
  body{
    height: 100vh;
  }
  form{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 30%;
  }
 
  .config-form{
    top: 25vh;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 217, 217, 0.20) inset !important;
    -webkit-text-fill-color: #000 !important;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image {
    animation: rotate 20s linear infinite; 
  }
  