body{
    background-color: black;
    text-align: center;
}
.signup_form{
    margin: 4px;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}

.login_form{
  margin: 4px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 217, 217, 0.20) inset !important;
    -webkit-text-fill-color: #000 !important;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image {
    animation: rotate 20s linear infinite; 
  }
  